
/* top nav bar starts from here */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 16px 120px 16px 120px; */
    /* width: 1286px; */
    height: 94px;
    /* background-color: aqua; */
}
  
.logo img{
   height: 60px;
   width: 139px;
}
.nav_links{
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 32px; 
}
.nav_links a{
    text-decoration: none;
    color: black;
}
.nav_click a {
    text-decoration: none;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    background-color: #469165;
    border-radius: 10px; 
    color: white;
}

/* top nav bar ends here  */

/* hero section starts here */

.back_section{     
    background-image: url("../assets/hero-bg.png");
   width: 100%;
    /* width: 2442px; */
    height: 1363px;
    background-repeat: no-repeat;
     /* border: 1px solid red;  */
     background-size: cover;
     background-position: center;}



