
 /* top nav bar starts from here  */
 
 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 
 body{
     font-family: "Inter", sans-serif;
 }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px; 
   
} 
 
.logo img{
   height: 60px;
   width: 139px;
}
.nav_links{
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 32px; 
}
.nav_links a{
    text-decoration: none;
    color: black;
}
.nav_click a {
    text-decoration: none;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    background-color: #469165;
    border-radius: 10px; 
    color: white; 
}
 
/* .nav_click .green button a:hover{
    background-color: #30B868;
} */
/* top nav bar ends here  */

/* hero section starts here */

.back_section{
    background-image: url("/assets/hero-bg.png");
    min-height: 90vh;
    width: 100%;
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.banner_content{
    width: 90%;
    max-width: 800px;
}
.floting-badge{
    display: inline-block;
    background-color: white;
    color: FFFFFF;
    padding: 8px 16px;
    border-radius: 70px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 50px;
}
.banner_content h1{
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 20px;
}
.banner_content h1{
    color: #ffffff;

}
.banner_content h1 span{
    color: #30B868;
}
.banner_content p{
    font-size: 24px;
    color: #ffffff;
    line-height: 1.6;
    margin: 0 auto 40px auto;
    max-width: 600px;
}
.banner_content span{
    color: #1f8c56;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.btn{
    text-decoration: none;
    padding: 14px 28px;
    font-weight: bold;
}

.btn_green-btn{
    background: #469165;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}
.btn_green-btn:hover{
    background-color: rgb(104, 181, 85);
}
.btn_outline-btn{
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    
} 
.banner_content h5{
    color:#469165;
}

.buttons span{
    color: #ffffff;
}
.btn_outline-btn:hover{
    background-color: #469165;
}

.banner_content .floting-badge:hover{
    background-color: rgb(188, 180, 180);
 
}